
@font-face {
  font-family: "GilroyLight"; /*Can be any text*/
  src: local("GilroyLight"), url("./Fonts/GilroyLight.woff") format("woff");
}

@font-face {
  font-family: "GilroyBold"; /*Can be any text*/
  src: local("GilroyExtraBold"),
    url("./Fonts/GilroyExtraBold.woff") format("woff");
}
/*
button{
  font-family: "GilroyBold";
}
h1{
  background-color: rgb(227, 113, 60);
}
h1 {
  color: black;
  font-size: 36px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: "GilroyLight";
  margin-block-start: 0.6em;
}

h2 {
  color: black;
  font-size: 36px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "GilroyBold";
  margin-block-end: 1.7em;
  margin-block-start: 0.4em;
}

a {
  margin-top: 30px;
  font-family: "GilroyLight";
  color: black;
  text-decoration: green underline;
  text-underline-offset: 4px;
}

span {
  font-size: 64px;
}


*/