@font-face {
  font-family: "GilroyLight";   /*Can be any text*/
  src: local("GilroyLight"),
    url("./Fonts/GilroyLight.woff") format("woff");
}

@font-face {
  font-family: "GilroyBold";   /*Can be any text*/
  src: local("GilroyExtraBold"),
    url("./Fonts/GilroyExtraBold.woff") format("woff");
}

#text{
}

h1{
  color: black;
  font-size: 38px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: "GilroyLight";
  margin-block-start: 0.6em;

}

h2{
  color: black;
  font-size: 38px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "GilroyBold";
  margin-block-end: 1.7em;
  margin-block-start: 0.4em;

}

a{
  margin-top: 30px;
  font-family: "GilroyLight";
  color: black;
  text-decoration: green underline;
  text-underline-offset: 4px;
}

span{
  font-size: 64px;
}

@media screen and (max-width: 641px) {
  h1{
    font-size: 25px;
    margin-top: 30px;
    margin-block-end: 0.3em;
  }
  
  h2{
    font-size: 25px;
    margin-bottom: 50px;
    margin-block-start: 0.00em;
    font-family: "GilroyBold";
  }
  
  span{
    font-size: 25px;
  }
}

@media screen and (min-device-width: 375px) and (max-device-height: 810px)   {
  h1{
    font-size: 23px;
    margin-top: 30px;
    margin-block-end: 0.2em;
    margin-block-start: 0.4em;
  }
  
  h2{
    font-size: 23px;
    margin-bottom: 50px;
    margin-block-start: 0.00em;
    
  }
  
  span{
    font-size: 20px;
  }
}

@media screen and (min-width:641px) and (max-width:961px){
  h1{
    color: black;
    font-size: 38px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: "GilroyLight";
    margin-block-end: 0.2em;
    
  }
  
  h2{
    font-size: 34px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-block-start: 0.00em;
    
  }
  
  span{
    font-size: 50px;
  }
}

/*font-family: 'Montserrat', Helvetica, "Trebuchet MS", Verdana, sans-serif; */

.App-logo{
width:60%;
display: block;
  margin-left: auto;
  margin-right: auto;
 padding-bottom: 40px;
 padding-top: 40px;
}
@media screen and (max-width: 600px) {
  .App-logo{
    width:90%;
    }

}