body {
  /* background: #5d6ba8;  /* fallback for old browsers */

  /*background: #ebe8e7;
  background: #fff3b2;
  */
  /**/
  background: #dff2ee;
}
.foote {
  position: absolute;
  top: 18px;
  left: 40%;
  margin-top: -205px;
  margin-left: -205px;
  width: 100%;
}

.foot {
  position: absolute;
  top: 538px;
  left: 49%;
  margin-top: -205px;
  margin-left: -205px;
  width: 80%;
  /*
  position:absolute;
  top: 145px;
  left: 36%;
  margin-top: -205px;
  margin-left: -205px;
  height: 620px;
  */
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin: 20px auto;
}

.marker {
  position: absolute;
  width: 43px;
  left: 191px;
  top: 5px;
  z-index: 2;
}

.wheel {
  width: 90%;
  height: 90%;
  position: relative;
 -webkit-backface-visibility: hidden;
 -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;

}

.button {
  left: -4%;
  position: relative;
  top: 76px;
  display: block;
  width: 250px;
  margin: 20px auto;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
.button.disabled {
  opacity: 0.6;
}

.blur {
animation: blur 8s;
-webkit-animation: blur 8s;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  15% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}

#outer {
  position: relative;
}

#app {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-top: -237px;
  margin-left: -237px;
  width: 474px;
  height: 474px;
  
}

#web-cam {
  position: absolute;
  top: 199.2px;
  left: 49.9%;
  margin-top: -205px;
  margin-left: -205px;
  width: 366px;
  height: 366px;
  border-radius: 325px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);  
  mask-image: radial-gradient(circle, white 100%, black 100%);  

}

#video {
opacity: 0;
  visibility: hidden;
  position: absolute;
  /*display:none;*/
  width: 410px;
  height: 410px;
  top: -2px;
  left: -3px;
  
}

.shadow {
  background-image: radial-gradient(
    closest-side,
    transparent,
    transparent 96%,
    rgba(37, 37, 37, 0.345)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.videoanimation {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
 
 
  
  /*
 animation: fadeIn 0.25s;
 -webkit-animation: fadeIn 0.25s;


  backface-visibility: hidden;
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
perspective: 1000;
*/
}

/*
  div {
    background: red;
    animation: createBox .25s;
    width: 98px; height: 98px;
  }
  */

@-webkit-keyframes fadeIn { from {  visibility: visible; opacity:0; } to {  visibility: visible; opacity:1; } }

@keyframes fadeIn {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 600px) {

  .foote {
    position: absolute;
    top: 70px;
    left: 47%;
    margin-top: -205px;
    margin-left: -205px;
    width: 100%;
  }
  #video {
    top: -5px;
    /*
    width: 150%;
    height: 150%;*/
    overflow-x: hidden;
  }

  #web-cam {
    top: 170px;
    left: 55%;
    margin-top: -186px;
    margin-left: -166px;
    width: 294px;
    height: 294px;
  }

  #app {
    top: 170px;
    left: 55%;
    margin-top: -210px;
    margin-left: -190px;
    width: 380px;
    height: 380px;
  }

  .foot {
    top: 475px;
    left: 60%;
    overflow-x: hidden;
  }

  .button {
    top: 60px;
    overflow-x: hidden;
  }

  .marker {
    left: 151px !important;
    top: 4.6px;
    width: 40px;
  }

  .wheel {
    overflow-x: hidden !important;
    will-change: transform;
  }

  .wheel::after {
    overflow-x: hidden !important;
  }

  html,
  body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
  }
}

@media screen and (min-device-width: 375px) and (max-device-height: 810px) {
  #video {
    top: -5px;
    /*
    width: 700px;
    height: 700px;*/
    overflow-x: hidden;
  }

  #web-cam {
    top: 162px;
    left: 59.5%;
    margin-top: -186px;
    margin-left: -166px;
    width: 264px;
    height: 264px;
  }

  #app {
    top: 170px;
    left: 60%;
    margin-top: -215px;
    margin-left: -190px;
    width: 340px;
    height: 340px;
  }

  .foot {
    top: 445px;
    left: 65%;
    overflow-x: hidden;
  }

  .button {
    top: 50px;
    overflow-x: hidden;
    width: 220px;
  }

  .marker {
    left: 130.9px !important;
    top: 4px;
    width: 47px;
  }

  .wheel {
    overflow-x: hidden !important;
    will-change: transform;
  }

  .wheel::after {
    overflow-x: hidden !important;
  }

  html,
  body {
    overflow-x: hidden;
    position: relative;
    height: 100%;
  }
}

@media screen and (min-width: 1080px) and (min-height: 1028px) {
  #app {
    top: 200px;
    left: 50.9%;
    margin-top: -220px;
    margin-left: -350px;
    width: 700px;
    height: 700px;
  }

  #web-cam {
    top: 211px;
    left: 50.9%;
    margin-top: -185px;
    margin-left: -305px;
    width: 539px;
    height: 539px;
  }
  .foot {
    top: 700px;
    left: 34%;
  }
  .button {
    top: 125px;
    width: 400px;
  }
  .marker {
    left: 282px !important;
    top: 9px;
    width: 67px;
  }

  #video {
    width: 565px;
    height: 565px;
    top: -20px;
    left: -3px;
  }
}
